////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//  Repo:           f5-certificate
//  File Name:      terraform.tfvars
//  Author:         Patrick Gryzan
//  Company:        Hashicorp
//  Date:           January 2020
//  Description:    This is the overriding variables file for the terraform project
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//  GCP Credentials
//
//  path - Path to your GCP credentials json file
//  project - Name of your project
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
gcp             = {
    path        = ""
    project     = ""
    region      = "us-central1"
    zone        = "us-central1-c"
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//  SSH Credentials
//
//  username - The login username to the GCP VMs
//  private_key - Path to your private key
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
ssh             = {
    username    = ""
    private_key = ""
}